<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar senhar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>

  <p class="P1"> Insira seu email ou número de celular para procurar a sua senha. </p>

      <ion-item>
        <ion-label>
          <ion-input placeholder="Email"></ion-input>
        </ion-label>
      </ion-item>
  </ion-card>

<ion-grid>
  <ion-row>
    <ion-col>
      <div class="b1">
        <ion-button fill="outline" routerLink="/tabs/tab1">Cancelar</ion-button>
      </div>
    </ion-col>

    <ion-col>
      <div class="b1">
        <ion-button>Recuparar</ion-button>
      </div>
    </ion-col>

  </ion-row>
</ion-grid>


</ion-content>
