ion-toolbar{
    --background: #FF66C4;
    text-align: center;
  }

.P1 {
    margin-left: 4%;
}


        .b1{
            display: flex;
            align-items: center;
            justify-content: center;
            --background: #1C191A;
            }

            .b2{
                display: flex;
                align-items: center;
                justify-content: center;
                --background: #1C191A;
                }


ion-card{
    justify-content: center;
    --background: #cdcccc;
    ion-item{
      --background: #cdcccc;
    }
    }
