.bv {
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-item {
  .l1 {
    font-size: 0.9rem;
    display: flex;
    align-items: center;

  }
}

.termo {
  margin-right: 5%;
  display: flex;
}

.p1 {
  font-size: 0.8rem;
  
  
}


//height: 2%;
