<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <iom-list>
      <ion-item>
        <ion-label>Email: </ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Senha: </ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </iom-list>
  </ion-card>

<div class="bv">
  <ion-button shape="round" routerLink="/tabs/tab1">Voltar</ion-button>
</div>

</ion-content>
