.p1 {
  text-align: center;
  color: #0838d6;
}

.p2 {
  text-align: center;
  color: #8f8f91;
}

.crc {
display: flex;
align-items: center;
justify-content: center;
}

.bv {
  display: flex;
align-items: center;
justify-content: center;

}
