<ion-header  [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <strong>Entrar</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  color="rosa">

<img src="/assets/logo.png" alt="some text" >

<ion-card>

<b> <h4 class="h1"> Entrar no TeleView </h4> </b>

    <ion-item>
        <ion-label>
          <ion-input placeholder="Email"></ion-input>
        </ion-label>
      </ion-item>


      <ion-item>
        <ion-label>
          <ion-input type="password" placeholder="Senha"></ion-input>
        </ion-label>
      </ion-item>

      <ion-button color="bt" class="b1" expand="block" routerLink="/registro">Registar</ion-button>

<u class="p1" routerLink="/senha"><p>Esqueceu sua senha?</p></u>

<p class="p2"> ━━━━━━━━━ ou ━━━━━━━━━ </p>

<div class="crc">
  <ion-button color="bt" class="b2"  shape="round" routerLink="/login">Criar conta</ion-button>
</div>

</ion-card>


</ion-content>
