<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-card>
  <iom-list>
    <ion-item>
      <ion-label>Email: </ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Senha: </ion-label>
      <ion-input></ion-input>
    </ion-item>
  </iom-list>
</ion-card>

<ion-button expand="block">Registar</ion-button>

<p >Esqueceu a senha?</p>


</ion-content>
